/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans';
  background-color: #F5F5F5;
  width: 100%;

}
ol, ul {
  list-style: none;
}
li {
  display: inline-block;
  padding: 0 10px;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#headerbar {
  background-color: #444444;
  padding: 15px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
#eval {
  float: left;
  width: 100px;
}

/*DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD */

.chartSection {
  /*width: 500px;*/
  /*border: 1px solid ##727272;*/
  overflow: hidden; /* will contain if #first is longer than #second */
  margin: 30px;
}

.chartNav {
  padding: 15px;
}
.chartName {
  color: #28677F;
  font-size: 20px;
}
.chartDiv {
  padding-top: 10px;
}
.filterButtons {
  float: right;
}

#navLinks {
  display: inline-block;
  color: white;
  float: right;
  padding-right: 20px;
}
.leftSection {
  width: 85%;
  float:left; /* add this */
  border-right: 2px solid #D5D5D5;
  padding: 0 10px 0 0;
}

.rightSection {
  padding: 10px;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  float: right;
  text-align: right;
  
}
.responses-right {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}


tspan, .c3-axis-y-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #52A3A1;
}

.avgTotalLabel {
  padding: 20px 0 40px 0;
  font-size: 20px;
  color: #52A3A1;
}
.valueLabel {
  color: #0061AB;
  font-size: 45px;
}
.valueDesc {
  padding-top: 10px;
  font-size: 15px;
  color:#0061AB;
}
.filterBtn {
  border: none;
  background: none;
  outline: none;
  font-size: 13px;
  color: #52A3A1;
  margin-right: 20px;
}
.filterBtn:hover, .activeFilter  {
  color: #28677F;
  border-bottom: 1px solid #28677F;
}
a {
  color: #52A3A1;
}
a:link, a:visited, a:hover {
 text-decoration: none; 
}

a:hover { 
 text-decoration: none;
 color: #6BD0CE;
 text-decoration: underline;
}



#numRes {
  border-top: 2px solid #D5D5D5;
  padding-top: 20px;
}
/*c3 chart */
.c3 svg {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  height: 250px;
}


/*EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES */
/*EMPLOYEES TABLE-------------------------------------------------------*/
.employees-table-section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Open Sans';
}

.empLabel {
  padding: 0px 0 30px 0;
  font-size: 20px;
  color: #28677F;
}
table {
  table-layout: fixed;
  width: 100%;
  /*border: 1px solid;*/
}

td {
  border: 1px solid whitesmoke;
  text-align: center;
  vertical-align: middle;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid whitesmoke;
  text-align: center;
  vertical-align: middle;
  background-color: #4E859B;
  color: white;
}

.subhead {
  background-color: #55B2CE;
}

tr {
  height: 26px;
  text-align: center;
  vertical-align: middle;
}

.main-row {
  cursor: pointer;
}

.main-row:hover {
  background-color: #727272;
}

.odd-rows {
  background-color: #ddd;
}

.scroll-outer {
  overflow: scroll;
  height: 500px;
}
.scroll-inner {
  overflow: scroll;
  height: 200px;
}

tbody {
  overflow: scroll;
  height: 100px;
}

/**LANDING PAGE**/
#landingNav {
  top: 50px;
  display: block;
  clear:both;
  float: left;
  width: 100%;

}
#landingTop {
  min-height: 10px;
  background-color: #52A3A1;
  margin-top: 0;
}
#evalWord {
  /*color: #52A3A1;*/
}
#intro {
  margin: 0 auto;
  text-align: center;
  padding: 150px;
  color: #444444;
}
h1 {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  padding: 30px;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #7B7B7B;
}

