/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat';

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD */
/*SENTIMENT CHART-------------------------------------------------------*/
.sentiment-section {
  /*width: 500px;*/
  border: 1px solid black;
  overflow: hidden; /* will contain if #first is longer than #second */
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#sentiment-chart {

}

.sentiment-left {
  width: 80%;
  float:left; /* add this */
  border-right: 1px solid red;
}

.sentiment-right {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}



/*RESPONSES CHART-------------------------------------------------------*/
.responses-section {
  /*width: 500px;*/
  border: 1px solid black;
  overflow: hidden; /* will contain if #first is longer than #second */
  margin-left: 50px;
  margin-right: 50px;
}

#responses-chart {

}

.responses-left {
  width: 80%;
  float:left; /* add this */
  border-right: 1px solid red;
}

.responses-right {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}


/*EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES EMPLOYEES */
/*EMPLOYEES TABLE-------------------------------------------------------*/
.employees-table-section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid;
}

td {
  border: 1px solid;
}

th {
  border: 1px solid;
}

/**LANDING PAGE**/
#landingNav {
  top: 50px;
  display: block;
  clear:both;
  float: left;
  width: 100%;

}

#logo {
  display: block;
  width: 50px;
  float: left;
  padding: 10px;
}
#landingLinks {
  float: right;
  padding: 10px;
}
#intro {
  margin: 0 auto;
  text-align: center;
  padding: 150px;
}
h1 {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  padding: 30px;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
}

.main-row {
    cursor: pointer;
}

.main-row:hover {
    background-color: #ddd;
}

.scroll {
  overflow: scroll;
  height: 200px;
}
